:root {
  --clr-green-1: hsl(155, 74%, 12%);
  --clr-green-2: hsl(140, 21%, 22%);
  --clr-green-3: hsl(120, 25%, 65%);
  --clr-green-4: hsla(120, 25%, 65%, 0.56);
  --clr-white: #fff;
  --clr-white-1: hsl(206, 33%, 96%);
  --clr-black: #222;
  --clr-red-1: hsl(0, 44%, 30%);
  --clr-red-2: hsl(0, 63%, 60%);

  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "XS";
  color: var(--clr-red-2);
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white-1);
  color: var(--clr-green-1);
  line-height: 1.5;
  display: grid;
  grid-template:
  "header" minmax(50vh, auto)
  "main" auto
  "footer" minmax(40vh, auto)
  /1fr;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  letter-spacing: var(--spacing);
}


header, footer {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
}


header {
  grid-area: header;
  background-image: url("img/head.jpg");
}

main {
  grid-area: main;
}

.title {
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.line {
  width: 5rem;
  height: 0.25rem;
  background-color: var(--clr-green-1);
  margin: 0 auto;
  border-radius: var(--radius);
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.filter-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0.5rem;
  letter-spacing: 2px;
  padding: 0.5rem 0.75rem;
  color: var(--clr-green-3);
  cursor: pointer;
}

.filter-btn {
  border: 1px solid var(--clr-green-4);
  border-radius: var(--radius);
}

.filter-btn:hover {
  background-color: var(--clr-green-4);
  color: var(--clr-white);
}



.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 1rem;
  justify-items: center;

}

.poster-item {
  display: grid;
  max-width: 20rem;
}

.photo {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

footer {
  grid-area: footer;
  background-image: url("img/foot.jpg");
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
  .poster-item {
    grid-template-columns: 250px 1fr;
    gap: 0 1.5rem;
    max-width: 40rem;
  }
  .photo {
    height: 325px;
  }
  .item-info {
    margin-top: 2rem;
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}








